*~
.DS_Store
VetechKalayHome Production.xcscheme
VetechKalayHome Staging.xcscheme
xcschememanagement.plist
Breakpoints_v2.xcbkptlist
UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata
RDTServer/RDTServer/build/
